

body {
    background: url("https://images.unsplash.com/photo-1505860125062-3ce932953cf5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=694e666d0cd1d781263b02ffafaae551&auto=format&fit=crop&w=634&q=80") no-repeat;
    background-size: cover;
}

.myWrapper {
    height: 100%;
    margin: 15px;
    position: center;
    
}



nav nav-bar {
    background-color: black;
}

navbar-header {
    float: right;
}

.contact-info {
    position: center;
}

.image {
    position: relative;
    width: 100%;
    
}

form {
    position: center;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

h2 span { 
    color: rgb(17, 20, 14); 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 }

p {
    text-align: left;
}

.container {
    flex-flow: column;
    width: 666px;
    height: 90%;
}

}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

